@media(max-width:2000px){
  .sidenav{
    margin-left: 89.2%;
  }
  .ket1{
    margin-left: 10%;
  }
  .ket2{
    margin-left: 14%;
  }
  .ket3{
    margin-left: 13.5%;
  }
  .ket4{
    margin-left: 15.2%;
  }
  .ket5{
    margin-left: 16.5%;
  }
}
@media(max-width:1822px){
  .sidenav{
    margin-left: 88.7%;
  }
  }
  @media(max-width:1754px){
  .sidenav{
    margin-left: 88.3%;
  }
  }
  @media(max-width:1675px){
  .sidenav{
    margin-left: 87.9%;
  }
  .ket5{
    margin-left: 16.5%;
  }
}
 @media(max-width:1630px){
  .sidenav{
    margin-left: 87.4%;
  }
  .ket1{
    margin-left: 9%;
  }
  .ket2{
    margin-left: 15%;
  }
  .ket3{
    margin-left: 13.5%;
  }
  .ket4{
    margin-left: 15.7%;
  }
  .ket5{
    margin-left: 16.5%;
  }
}
@media(max-width:1555px){
  .sidenav{
    margin-left: 87%;
  }
  }
  @media(max-width:1522px){
  .sidenav{
    margin-left: 86.5%;
  }
  .ket5{
    margin-left: 17.2%;
  }
  }
 @media(max-width:1460px){
  .sidenav{
    margin-left: 85.9%;
  }
  .ket1{
    margin-left: 8.4%;
  }
  .ket2{
    margin-left: 15%;
  }
  .ket3{
    margin-left: 13.5%;
  }
  .ket4{
    margin-left: 17.3%;
  }
  .ket5{
    margin-left: 16.8%;
  }
}
 @media(max-width:1400px){
  .sidenav{
    margin-left: 85.3%;
  }
  .ket1{
    margin-left: 8%;
  }
  .ket5{
    margin-left: 17.5%;
  }
}
 @media(max-width:1340px){
  .sidenav{
    margin-left: 84.8%;
  }
  .ket1{
    margin-left: 7.5%;
  }
  .ket5{
    margin-left: 18%;
  }
  .ket3{
    margin-left: 15%;
  }
}
@media(max-width:1300px){
  .sidenav{
    margin-left: 84.2%;
  }
  }
   @media(max-width:1240px){
  .sidenav{
    margin-left: 83.6%;
  }
  .ket1{
    margin-left: 6.5%;
  }
  .ket5{
    margin-left: 18%;
  }
  .ket2{
    margin-left: 16.5%;
  }
}
   @media(max-width:1210px){
  .sidenav{
    margin-left: 83%;
  }
}
   @media(max-width:1200px){
  .sidenav{
    margin-left: 83%;
  }
  .ket1{
    margin-left: 6%;
  }
  .ket5{
    margin-left: 19.5%;
  }
  
}
   @media(max-width:1160px){
  .sidenav{
    margin-left: 82.4%;
  }
  .ket2{
    margin-left: 10.5%;
  }
   .ket3{
    margin-left: 10%;
  }
  .ket4{
    margin-left: 12.7%;
  }
   .ket5{
    margin-left: 12.8%;
  }

.aaa2 {
    margin-left: 4%;
}
.aaa3 {
    margin-left: 5%;
}
.aaa4 {
    margin-left:4%;
}
.aaa5 {
    margin-left: 4%;
}
}

   @media(max-width:1115px){
    .imglogo{
      margin-left: 40px;
    }
  .sidenav{
    margin-left: 81.8%;
  }
  .ket1{
    margin-left: 11%;
  }
   .ket3{
    margin-left: 10.5%;
  }
   .ket5{
    margin-left: 13%;
  }
}

   @media(max-width:1080px){
  .sidenav{
    margin-left: 81.2%;
  }
   .ket5{
    margin-left: 14%;
  }
}

   @media(max-width:1050px){
  .sidenav{
    margin-left: 80.6%;
  }
  .ket1{
    margin-left: 10%;
  }
   .ket2{
    margin-left: 11.5%;
  }
   .ket4{
    margin-left: 14%;
  }
   .ket5{
    margin-left: 13.5%;
  }
  .yuki{
    font-size: 100px;
  }
  .yfa{
    width: 654px;
  }
}
   @media(max-width:1010px){
  .sidenav{
    margin-left: 79.8%;
  }
   .ket5{
    margin-left: 14.5%;
  }
}
   @media(max-width:970px){
  .sidenav{
    margin-left: 79%;
  }
   .ket5{
    margin-left: 15.5%;
  }
}
   @media(max-width:935px){
  .sidenav{
    margin-left: 78.2%;
  }
   .ket3{
    margin-left: 12%;
  }
}
   @media(max-width:895px){
  .sidenav{
    margin-left: 77.2%;
  }
   .ket3{
    margin-left: 13%;
  }
}
   @media(max-width:860px){
  .sidenav{
    margin-left: 76.2%;
  }
   .ket4{
    margin-left: 15%;
  }
}
   @media(max-width:825px){
  .sidenav{
    margin-left: 75.2%;
  }
   .ket1{
    margin-left: 8%;
  }
  .ket2{
    margin-left: 13.5%;
  }
   .ket5{
    margin-left: 16.5%;
  } 
  .ket3{
    margin-left: 12.5%;
  }

  .ket4{
    margin-left: 16%;
  }
}
  @media(max-width:800px){
  .sidenav{
    margin-left: 74.5%;
  }
   .ket5{
    margin-left: 17.5%;
  }
}

  @media(max-width:770px){
  .sidenav{
    margin-left: 73.5%;
  }
   .ket5{
    margin-left: 19%;
  }
  .yuki{
    font-size: 90px;
  }
  .yfa{
    width: 588px;
  }
  .feder{
    margin-left: 0px;
    font-size: 15px;
  }
  .yukitext{
    font-size: 18px;
  }
  .federation{
    width: 193px;
  }
  .yukiinto{
    width: 451px;
  }
  .joinus{
    width: 165px;
    font-size: 15px;
    margin-left: 150px;
  }
}
@media(max-width:750px){
   .ket1, .ket2, .ket3, .ket4, .ket5, .line, .qwer {
    display: none;
  }
  .dropdown {
  display: block;
}
   .sidenav{
    margin-left: 72.7%;
  }
}
  @media(max-width:725px){
  .sidenav{
    margin-left: 72%;
  }
  
}
 @media(max-width:700px){
  .sidenav{
    margin-left: 71.2%;
  }

}
 @media(max-width:680px){
  .dropdown {
    margin-left: 93.7%;
}
  .sidenav{
    margin-left: 70.4%;
  }
  .yuki{
    font-size: 70px;
  }
  .yfa{
    width: 458px;
  }
  .feder{
    margin-left: 0px;
    font-size: 15px;
    margin-top: 5px;
  }
  .federation{
    width: 193px;
  }
  .yukitext{
    font-size: 16px;
    font-weight: 900;
  }
  .yukiinto{
    width: 299px;
  }
  .joinus{
    width: 120px;
    font-size: 13px;
    margin-left: 90px;
  }
}
 @media(max-width:660px){
  .sidenav{
    margin-left: 69.5%;
  }

}
 @media(max-width:640px){
  .sidenav{
    margin-left: 68.5%;
  }

}
 @media(max-width:620px){
  .sidenav{
    margin-left: 67.5%;
  }

}

 @media(max-width:600px){
  .sidenav{
    margin-left: 66.5%;
     } 
     .dropdown {
    margin-left: 93%;

  }

}
 @media(max-width:585px){
  .sidenav{
    margin-left: 65.5%;
  }

}
 @media(max-width:570px){
  .sidenav{
    margin-left: 64.5%;
  }

}
 @media(max-width:555px){
  .sidenav{
    margin-left: 63.5%;
  }

}
@media(max-width:540px){
  .dropdown {
    margin-left: 92%;
}
  .sidenav{
    margin-left: 62.5%;
  }
  .yuki{
    font-size: 60px;
  }
  .yfa{
    width: 392px;
  }
}
 @media(max-width:525px){
  .sidenav{
    margin-left: 61%;
     } 
     .dropdown {
    margin-left: 91.7%;

  }

}
 @media(max-width:500px){
  .sidenav{
    margin-left: 59.5%;
     } 
     .dropdown {
    margin-left: 91.7%;

  }

}
@media(max-width:485px){
  .dropdown {
    margin-left: 91%;
}
  .sidenav{
    margin-left: 58%;
  }
  .yuki{
    font-size: 50px;
  }
  .yfa{
    width: 327px;
  }
}
 @media(max-width:470px){
  .sidenav{
    margin-left: 57%;
     } 
     .dropdown {
    margin-left: 90.7%;

  }
}
   @media(max-width:455px){
  .sidenav{
    margin-left: 55.5%;
     } 
     .dropdown {
    margin-left: 90.7%;

  }
  .imglogo {
    width: 65px;
    height: 60px;
    margin-top: 3%;
    margin-left: 3%;
}
  }
   @media(max-width:440px){
  .sidenav{
    margin-left: 53.7%;
     } 
     .dropdown {
    margin-left: 90%;

  }
}
   @media(max-width:425px){
  .sidenav{
    margin-left: 52%;
     } 
     .dropdown {
    margin-left: 89.5%;

  }
   .yuki{
    font-size: 45px;
  }
  .yfa{
    width: 294px;
  }
}
   @media(max-width:410px){
  .sidenav{
    margin-left: 50%;
     } 
     .dropdown {
    margin-left: 89%;

  }
}
   @media(max-width:395px){
  .sidenav{
    margin-left: 48%;
     } 
     .dropdown {
    margin-left: 89%;

  }
    .yuki{
    font-size: 42px;
  }
  .yfa{
    width: 275px;
  }
}
   @media(max-width:375px){
  .sidenav{
    margin-left: 46%;
     } 
     .dropdown {
    margin-left: 88.5%;

  }
}
@media(max-width:1515px){
  .sevan{
    width: 11%;
    margin-left: 140px;
  }
  .owl{
    width: 13%;
  }
  .yell{
    width: 5%;
  }
  .startup{
    width: 13%;
  }
  .sky{
    width: 7%;
  }
  .insport{
    width: 13%;
  }
  .aparan{
    width: 5%;
  }
}
@media(max-width:1400px){
  .gsdiv {
    width: 1300px;
}
.generals {
    margin-right: 240px;
}
.startup {
    padding-bottom: 10px;
}
}
@media(max-width:1300px){
  .gsdiv {
    width: 1200px;
}
.generals {
    margin-right: 150px;
}
}
@media(max-width:1250px){
  .gsdiv {
    width: 1200px;
}
.generals {
    margin-left: 160px;
}
}
@media(max-width:1200px){
  .gsdiv {
    width: 1100px;
}
.generals {
    margin-right: 100px;
}
}

@media(max-width:1180px){
.part {
    margin-top: 220px;
}
.sevan {
    margin-left: 90px;
}
}
@media(max-width:1120px){
.gsp, .hsp, .partp  {
    font-size: 40px;
}
.partp{
  width: 150px;
}
.nova, .para{
    margin-left: 90px;
}
.sevan {
    margin-left: 75px;
}
.generals {
    margin-left: 200px;
}
 .gsdiv {
    width: 943px;
}
.nova{
  width: 17%;
}
}
@media(max-width:1050px){
.generals {
    margin-left: 150px;
}
}
@media(max-width:990px){
.generals {
    margin-left: 14%;
    margin-right: 12%;
}
 .gsdiv {
    width: 90%;
}
.sevan{
  margin-left:22%;
}
.sky{
  margin-left:32%;
}
.sevan{
    width: 12%;
  }
  .owl{
    width: 14%;
  }
  .yell{
    width: 6%;
  }
  .startup{
    width: 14%;
  }
  .sky{
    width: 8%;
  }
  .insport{
    width: 14%;
  }
  .aparan{
    width: 6%;
  }
}
@media(max-width:970px){
.gsp, .hsp, .partp  {
    font-size: 30px;
}
.partp {
    width: 112px;
}
.nova, .para{
    margin-left: 60px;
}
.nova{
  width: 18%;
}
.generals {
    margin-left: 22%;
}

}
@media(max-width:815px){
.nova, .para{
    margin-left: 60px;
}
.nova{
  width: 18%;
}
.para{
  width: 40%;
}
.generals {
    margin-left: 17%;
}

}

@media(max-width:755px){
.generals {
    margin-left: 18%;
    margin-right: 7%;

}

}
@media(max-width:715px){
  .generals {
    margin-left: 40%;
        margin-bottom: 5%;
}
 .hospitals {
    margin-left: 37%;
}
.nova {
    width: 31%;
}
.partimg {
    margin-top: 15px;
}
.part {
    margin-top: 310px;
}
.sevan{
  margin-left:16%;
}
.sky{
  margin-left:28%;
}
.sevan{
    width: 14%;
  }
  .owl{
    width: 16%;
  }
  .yell{
    width: 8%;
  }
  .startup{
    width: 16%;
  }
  .sky{
    width: 10%;
  }
  .insport{
    width: 16%;
  }
  .aparan{
    width: 8%;
  }
}
@media(max-width:550px){
  .generals {
    margin-left: 35%;
        margin-bottom: 5%;
}
 .hospitals {
    margin-left: 32%;
}
.nova {
    width: 40%;
}
.partimg {
    margin-top: 15px;
}
.part {
    margin-top: 310px;
}
.sevan{
  margin-left:12%;
}
.sky{
  margin-left:26%;
}
.sevan{
    width: 16%;
  }
  .owl{
    width: 17%;
  }
  .yell{
    width: 9%;
  }
  .startup{
    width: 17%;
  }
  .sky{
    width: 11%;
  }
  .insport{
    width: 17%;
  }
  .aparan{
    width: 9%;
  }
}

@media(max-width:480px){
  .generals {
    margin-left: 31%;
}
 .hospitals {
    margin-left:26%;
}
.nova {
    width: 40%;
}
.sevan{
    width: 16%;
    margin-left:10%;
  }
  .sky{
    width: 11%;
    margin-left:24%;
  }
}
@media(max-width:440px){
  .generals {
    margin-left: 28%;
}
 .hospitals {
    margin-left:23%;
}
.nova {
    width: 40%;
}
.sevan{
    width: 16%;
    margin-left:20%;
  }
  .sky{
    width: 11%;
    margin-left:24%;
  }
  .startup {
    width: 17%;
    margin-left: 43%;
}
}
@media(max-width:390px){
  .generals {
    margin-left: 24%;
}
 .hospitals {
    margin-left:18%;
}
.nova {
    width: 40%;
}
.sevan{
    width: 18%;
    margin-left:15%;
  }
  .sky{
    width: 13%;
    margin-left:20%;
  }
  .startup {
    width: 19%;
    margin-left: 41%;
}
  .owl{
    width: 19%;
  }
  .yell{
    width: 11%;
  }
  .insport{
    width: 19%;
  }
  .aparan{
    width: 11%;
  }
}
@media(max-width:355px){
  .gsp, .hsp, .partp {
    font-size: 23px;
}
.partp {
    width: 86px;
}
.pl {
    margin-top: 160px;
}
  .generals {
    margin-left: 27%;
}
 .hospitals {
    margin-left:24%;
}
.nova {
    width: 44%;
    margin-left: 17%;
}
.para{
 margin-left: 32%;
}
.sidenav{
    margin-left:42%;
     }
}

  @media(max-width:340px){
 .sidenav{
    margin-left: 40%;
     }
  }
    @media(max-width:320px){
 .sidenav{
    margin-left: 38%;
     }
  }

      @media(max-width:2000px){
        .ket5{
              margin-left: 15.5%;
        }

  }
  @media(max-width:1900px){
    .wwau {
    position: absolute;
    margin-top: -222px;
    height: 19%;
    margin-left: 81.9%;
    width: 17.5%;
}
.wwru {
    position: absolute;
    width: 41.5%;
    height: 20.2%;
    margin-top: -659px;
    margin-left: 51.7%;
}
.wwjp {
    position: absolute;
    width: 6.1%;
    height: 8%;
    margin-left: 86.4%;
    margin-top: -504px;
    cursor: pointer;
    z-index: 100;
}
.wwch {
    position: absolute;
    margin-top: -550px;
    height: 19.5%;
    margin-left: 68.7%;
    width: 19%;
    cursor: pointer;
    z-index: 10;
}
.wwth {
    position: absolute;
    width: 7.7%;
    height: 7.6%;
    margin-top: -376px;
    margin-left: 71.7%;
}
.wwam {
    position: absolute;
    margin-top: -489px;
    margin-left: 62.4%;
    width: 6%;
    cursor: pointer;
}
.wwfin {
    position: absolute;
    width: 7%;
    height: 8%;
    margin-top: -643px;
    margin-left: 51.5%;
    cursor: pointer;
    z-index: 10;
}
.wwsl {
    position: absolute;
    width: 4%;
    margin-top: -551px;
    margin-left: 50.3%;
    cursor: pointer;
}
.wwbe {
    position: absolute;
    margin-top: -550px;
    margin-left: 42.6%;
    width: 4%;
}
.wwnt {
    position: absolute;
    width: 4%;
    margin-top: -550px;
    margin-left: 46.8%;
    cursor: pointer;
}
.wwsw {
    position: absolute;
    width: 6.2%;
    margin-top: -637px;
    height: 9.2%;
    margin-left: 49.2%;
    cursor: pointer;
}
.wwnw {
    position: absolute;
    width: 6%;
    margin-top: -642px;
    height: 8%;
    margin-left: 46.5%;
    cursor: pointer;
}
.wwcan {
    position: absolute;
    margin-top: -673px;
    margin-left: 8.8%;
    width: 24%;
    height: 22%;
    z-index: 10;
    cursor: pointer;
}
.wwusa {
    position: absolute;
    width: 25.7%;
    height: 25.8%;
    margin-top: -627px;
    margin-left: -1px;
    cursor: pointer;
    z-index: 1;
}

}


































@media(max-width:2560px){

  .htppic {
    width: 755px;
    margin-top: -121px;
    margin-left: 15%;
  }
  .bcbig {
    margin-top: -20%;
}
}
@media(max-width:1670px){
  .htppic {
    width: 680px;
    margin-top: -55px;
    margin-left: 13.5%;
  }
}
@media (max-width:1500px){
    .htprules {
        margin-left: 10%;
    }
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 16px;
        color: #00264d;
    }
    .htppic {
        width: 650px;
        height: 550px;
        margin-left: 0%;
        margin-top: -8%;
    }
}
@media (max-width:1380px) {
    .aboutbgp {
        width: 481px;
        margin: 80px 0px 0px 20px;
    }
    .htprules {
        margin-left: 10%;
    }
    /* .aboutpic {
        width: 50%;
    } */
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 16px;
        color: #00264d;
    }
    .htppic {
      width: 550px;
      height: 550px;
      margin-left: 0%;
      margin-top: -7%;
  }
}
@media (max-width:1280px){
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 15px;
        color: #00264d;
    }
    .htppic {
        width: 500px;
        height: 500px;
        margin-left: 15%;
    }
    .htprules {
        margin-left: 5%;
    }
}
@media (max-width:1250px){
    .aboutbgp {
        width: 481px;
        margin: 60px 0px 0px 10px; 
    }
    .htprules {
        margin-left: 5%;
        width: 475px;
    }
    /* .aboutpic {
        width: 50%;
    } */
    .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
        font-size: 17px;
        color: #00264d;
    }
    .htppic {
        width: 490px;
        height: 600px;
        margin-left: 20%;
    }
}
@media (max-width: 1174px){
  .aboutbgp {
    width: 481px;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 17px;
    color: #00264d;
  }
  .htppic {
    width: 470px;
    height: 560px;
    margin-left: 20%;
    margin-top: -20px;
}

  }

@media (max-width: 1100px){
  .aboutbgp {
    width: 481px;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 15px;
    color: #00264d;
  }
  .htppic {
    width: 420px;
    height: 480px;
    margin-left: 20%;
    margin-top: 0px;
  }
}
@media (max-width: 1000px){
  .aboutbgp {
    width: 40vw;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 15px;
    color: #00264d;
    /* width: 42vw; */
    margin-right: 0%;
  }
  .bcbig{
    width: 100%;
  }
  .htppic {
    width: 380px;
    height: 420px;
    margin-left: 7vw;
    margin-top: -3px;
  }
}
/* ////////// */
@media (max-width: 950px){
  .aboutbgp {
    width: 40vw;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
    margin-top: 15vw;
  }
  /* .aboutpic {
    width: 50%;
  } */
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 16px;
    color: #00264d;
    margin-right: 0%;
  }
  .bcbig{
    width: 100%;
    margin-top: -60%;
    margin-left: 18vw;
  }
  .htppic {
    width: 470px;
    height: 450px;
    margin-left: 21vw;
    margin-top: 60px;
    margin-bottom: 25vw;
  }
  .htpall {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
}
@media (max-width: 800px){
  .aboutbgp {
    width: 40vw;
    margin: 60px 0px 0px 10px; 
  }
  .htprules {
    margin-left: 3%;
    width: 450px;
    margin-top: 40vw;
  }
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 16px;
    color: #00264d;
    margin-right: 0%;
  }
  .bcbig{
    width: 100%;
    margin-top: -100%;
    margin-left: 18vw;
  }
  .htppic {
     width: 420px;
    height: 450px;
        margin-left: 22vw;
    margin-top: 60px;

  }
  .htpall {
    width: 100%;
    height: 711px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 568px) and (min-width: 320px){

  .bcbig {
    margin-left: 3%; 
     margin-right: 0%;
     margin-top: -180%; 
    width: 300px;
  }
  .htppic {
    margin-bottom: 4%;
    width: 322px;
    margin-left: 10vw;
    margin-top: 15px;

  }
  .ppp1, .ppp2, .ppp3, .ppp4, .ppp5 {
    font-size: 15px;
  }
  .rulestext {
    width: 300px;
    margin-left: 3%;
    margin-right: 1%;
}
.bcc{
  margin-right: 0px;
}
.bcp, .bcs{
  margin-right: 30px;
}
.htprules {
    width: 300px;
}
}
@media (max-width: 568px){
  .bcbig {
    margin-left: -2%;
  }
   .htppic {
    margin-left: 0vw;
  }
}


/* ****************************** */
/* ****************************** */

@media (min-width:1450px) and (max-width:1924px){
  .pic1, .pic2, .pic3{
    width: 280px;
    height: 280px;
    margin-left: 0;
  }
  .lc, .wc, .ec, .ecc {
    width: 23%;
    display: inline-block;
}
  .lc{
    margin-left: 5vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 280px;
    height: 280px;
    padding: 15px 15px 15px 15px;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 260px;
    height: 260px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 18px;
    color: #00264d;
    text-align: center;
  }
}
@media (min-width:1250px) and (max-width:1450px){
  .pic1, .pic2, .pic3{
    width: 250px;
    height: 250px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 22%;
    display: inline-block;
}
  .lc{
    margin-left: 5vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 250px;
    height: 250px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 17px;
    color: #00264d;
    text-align: center;
  }
}
@media (min-width:1050px) and (max-width:1250px){
  .pic1, .pic2, .pic3{
    width: 220px;
    height: 220px;
    margin-left: 40px;
  }
  .lc, .wc, .ec, .ecc {
    width: 22%;
    display: inline-block;
}
  .lc{
    margin-left: 2vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 220px;
    height: 220px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 15px;
    color: #00264d;
    text-align: center;
  }
}
@media (min-width:951px) and (max-width:1050px){
  .pic1, .pic2, .pic3{
    width: 180px;
    height: 180px;
    margin-left: 50px;
  }
  .lc, .wc, .ec, .ecc {
    width: 22%;
    display: inline-block;
    margin-right: 15px;
}
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 180px;
    height: 180px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 14px;
    color: #00264d;
    text-align: center;
    /* float: left; */
    /* margin-right: 30px; */
    width: 184px;
    margin-left: 4vw;
  }
  .texttext{
    width: 240px;
  }
}
@media (min-width:750px) and (max-width:950px){
  .pic1, .pic2, .pic3{
    width: 150px;
    height: 150px;
    margin-left: 60px;
  }
  .lc, .wc, .ec, .ecc {
    width: 21%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
  .lc{
    margin-left: 0vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 180px;
    margin-left: 4vw;
  }
  .texttext{
    width: 210px;
  }
}
@media (min-width:600px) and (max-width:750px){
  .pic1, .pic2, .pic3{
    width: 130px;
    height: 130px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-left: 0vw;
  }
  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 130px;
    height: 130px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 105px;
    margin-left: 4vw;
  }
  .texttext{
    width: 150px;
  }
}
@media (min-width:480px) and (max-width:600px){
  .pic1, .pic2, .pic3{
    width: 170px;
    height: 170px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-left: 8vw;
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-left: 8vw;
    margin-right: 100px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 170px;
    height: 170px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 158px;
    margin-left: 4vw;
  }
  .texttext{
    width: 200px;
  }
}
@media (min-width:400px) and (max-width:480px){
  .pic1, .pic2, .pic3{
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-left: 3vw;
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-left: 3vw;
    margin-right: 100px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    /* float: left; */
    text-align: center;
    width: 158px;
    margin-left: 4vw;
  }
  .texttext{
    width: 170px;
  }
}
@media (min-width:370px) and (max-width:400px){
  .pic1, .pic2, .pic3{
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-right: 90px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    text-align: center;
    width: 158px;
    margin-left: 4vw;
  }
  .texttext{
    width: 150px;
  }
}
@media (min-width:320px) and (max-width:370px){
  .pic1, .pic2, .pic3{
    width: 130px;
    height: 130px;
    margin-left: 20px;
  }
  .lc, .wc, .ec, .ecc {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
  .lc{
    margin-right: 90px;
  }
  .ec{
    margin-right: 15vw;
  }
  .wc{
    margin-top: 25px;
    margin-right: 90px;
  }
  .ecc{
    margin-top: 25px;
    margin-right: 15vw;
  }

  .pic1:hover, .pic2:hover, .pic3:hover, .pic4:hover{
    width: 130px;
    height: 130px;
    padding: 15px 15px 15px 15px;
  }
  .h3lc{
    font-size: 12px;
    color: #00264d;
    text-align: center;
    width: 105px;
    margin-left: 4vw;
  }
  .texttext{
    width: 120px;
  }
}



/* ============================== */
/* ============================== */

 @media (min-width:1730px) and (max-width:1924px){
  .abouthill {
    position: absolute;
    margin-top: -270px;
  }
  .aboutbgp{
    width: 42.5%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .aboutk1 {
    bottom: 5.1vw;
  }
  .aboutk2{
    bottom: 9.2vw;
  }
  .aboutk3{
    bottom: 10vw;
  }
  .aboutk4{
    bottom: 12.8vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1510px) and (max-width:1730px){
  .abouthill {
    position: absolute;
    margin-top: -230px;
  }
  .aboutbgp{
    width: 41%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 150px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.3vw;
  }
  .aboutk2{
    bottom: 9.3vw;
  }
  .aboutk3{
    bottom: 10.2vw;
  }
  .aboutk4{
    bottom: 12.9vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1410px) and (max-width:1510px){
  .abouthill {
    position: absolute;
    margin-top: -220px;
  }
  .aboutbgp{
    width: 40%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 100px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.3vw;
  }
  .aboutk2{
    bottom: 9.3vw;
  }
  .aboutk3{
    bottom: 10.2vw;
  }
  .aboutk4{
    bottom: 12.9vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1310px) and (max-width:1410px){
  .abouthill {
    position: absolute;
    margin-top: -210px;
  }
  .aboutbgp{
    width: 39%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 50px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.3vw;
  }
  .aboutk2{
    bottom: 9.5vw;
  }
  .aboutk3{
    bottom: 10.3vw;
  }
  .aboutk4{
    bottom: 13vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.3vw;
    left: 13vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.3vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.2vw;
    left: 60vw;
  }
  .hilla4{
    position: absolute;
    bottom: 13.8vw;
    left: 71.5vw;
  }
}

@media (min-width:1150px) and (max-width:1310px){
  .abouthill {
    position: absolute;
    margin-top: -180px;
  }
  .aboutbgp{
    width: 38%;
    float: left;
    margin: 50px 0px 0px 50px;
  }
  .abouta{
    float: right;
    margin-top: 10px;
    margin-right: 120px;
  }
  .aboutk1 {
    bottom: 5.5vw;
  }
  .aboutk2{
    bottom: 9.5vw;
  }
  .aboutk3{
    bottom: 10.3vw;
  }
  .aboutk4{
    bottom: 13vw;
  }
  .hilla1{
    position: absolute;
    bottom: 6.8vw;
    left: 11vw;
  }
  .hilla2{
    position: absolute;
    bottom: 10.8vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 11.7vw;
    left: 58vw;
  }
  .hilla4{
    position: absolute;
    bottom: 14.3vw;
    left: 71.5vw;
  }
}

@media (min-width:1050px) and (max-width:1150px){
  .abouthill {
    position: absolute;
    margin-top: -160px;
  }
  .aboutbgp{
    width: 39%;
    float: left;
    margin: 20px 0px 0px 20px;
  }
  .abouta{
    float: right;
    margin-top: 10px;
    margin-right: 280px;
  }
  .aboutp{
    font-size: 16px;
    color: #00264d;
  }
  .aboutk1 {
    bottom: 5.8vw;
  }
  .aboutk2{
    bottom: 9.8vw;
  }
  .aboutk3{
    bottom: 10.3vw;
  }
  .aboutk4{
    bottom: 13.3vw;
  }
  .hilla1{
    position: absolute;
    bottom: 7.2vw;
    left: 11vw;
  }
  .hilla2{
    position: absolute;
    bottom: 11vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 12vw;
    left: 57vw;
  }
  .hilla4{
    position: absolute;
    bottom: 14.5vw;
    left: 71.5vw;
  }
}

@media (min-width:950px) and (max-width:1050px){
  .abouthill {
    position: absolute;
    margin-top: -200px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -90vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 375px;
    width: 800px;
    margin-left: 10%;
    margin-right: 10%;

  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -870px;
  }
  .aboutbg{
    width: 100%;
    height: 1175px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 5.8vw;
  }
  .aboutk2{
    bottom: 9.8vw;
  }
  .aboutk3{
    bottom: 10.6vw;
  }
  .aboutk4{
    bottom: 13.4vw;
  }
  .hilla1{
    position: absolute;
    bottom: 7.2vw;
    left: 11vw;
  }
  .hilla2{
    position: absolute;
    bottom: 11vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 12vw;
    left: 57vw;
  }
  .hilla4{
    position: absolute;
    bottom: 14.5vw;
    left: 71.5vw;
  }
}

@media (min-width:901px) and (max-width:950px){
  .abouthill {
    position: absolute;
    margin-top: -200px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -95vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 375px;
    width: 800px;
    margin-left: 6%;
    margin-right: 10%;

  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -850px;
  }
  .aboutbg{
    width: 100%;
    height: 1175px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 6vw;
  }
  .aboutk2{
    bottom: 10vw;
  }
  .aboutk3{
    bottom: 10.5vw;
  }
  .aboutk4{
    bottom: 13.3vw;
  }
  .hilla1{
    position: absolute;
    bottom: 7.8vw;
    left: 10vw;
  }
  .hilla2{
    position: absolute;
    bottom: 12vw;
    left: 34vw;
  }
  .hilla3{
    position: absolute;
    bottom: 13vw;
    left: 57vw;
  }
  .hilla4{
    position: absolute;
    bottom: 15.5vw;
    left: 71.5vw;
  }
}

@media (min-width:760px) and (max-width:900px){
  .abouthill {
    position: absolute;
    margin-top: -200px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -95vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 430px;
     width: 100%;
    height: 99.9vw;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -940px;
  }
  @media (min-width:800px) and (max-width:840px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -880px;
    }
  }
  @media (min-width:760px) and (max-width:800px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -825px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1175px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 6.4vw;
  }
  .aboutk2{
    bottom: 10.4vw;
  }
  .aboutk3{
    bottom: 10.8vw;
  }
  .aboutk4{
    bottom: 13.6vw;
  }
  .hilla1{
    position: absolute;
    bottom: 8.3vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 12vw;
    left: 32vw;
  }
  .hilla3{
    position: absolute;
    bottom: 13vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 15.5vw;
    left: 71vw;
  }
}

@media (min-width:601px) and (max-width:760px){
  .abouthill {
    position: absolute;
    margin-top: -140px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 530px;
     width: 100%;
    height: 98.1vw;
    margin-bottom: 50px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -860px;
  }
  @media (min-width:630px) and (max-width:680px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -780px;
    }
  }
  @media (min-width:601px) and (max-width:630px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -720px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1100px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 7vw;
  }
  .aboutk2{
    bottom: 11vw;
  }
  .aboutk3{
    bottom: 10.8vw;
  }
  .aboutk4{
    bottom: 14vw;
    left: 72.2vw;
  }
  .hilla1{
    position: absolute;
    bottom: 10vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 14vw;
    left: 30vw;
  }
  .hilla3{
    position: absolute;
    bottom: 14vw;
    left: 52vw;
  }
  .hilla4{
    position: absolute;
    bottom: 17vw;
    left: 71vw;
  }
}
@media (min-width:480px) and (max-width:600px){
  .abouthill {
    position: absolute;
    margin-top: -90px;
  }
  .aboutbgp{
    width: 78%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 20px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 610px;
     width: 100%;
    height: 99.8vw;
    margin-bottom: 100px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -750px;
  }
  @media (min-width:500px) and (max-width:549px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -695px;
    }
  }
  @media (min-width:480px) and (max-width:500px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -640px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1050px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 7.6vw;
  }
  .aboutk2{
    bottom: 11.5vw;
  }
  .aboutk3{
    bottom: 11.5vw;
  }
  .aboutk4{
    bottom: 15vw;
    left: 72vw;
  }
  .hilla1{
    position: absolute;
    bottom: 2vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 14vw;
    left: 30vw;
  }
  .hilla3{
    position: absolute;
    bottom: 7vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 19vw;
    left: 68vw;
  }
}

@media (min-width:400px) and (max-width:480px){
  .abouthill {
    position: absolute;
    margin-top: -90px;
  }
  .aboutbgp{
    width: 72%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 17px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 610px;
    width: 100%;
    height: 99.8vw;
    margin-bottom: 100px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -635px;
  }
  @media (min-width:400px) and (max-width:428px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -580px;
    }
  }
  .aboutbg{
    width: 100%;
    height: 1000px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 8.5vw;
  }
  .aboutk2{
    bottom: 12vw;
  }
  .aboutk3{
    bottom: 12vw;
  }
  .aboutk4{
    bottom: 15vw;
    left: 71vw;
  }
  .hilla1{
    position: absolute;
    bottom: 2vw;
    left: 8vw;
  }
  .hilla2{
    position: absolute;
    bottom: 15vw;
    left: 30vw;
  }
  .hilla3{
    position: absolute;
    bottom: 7vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 18vw;
    left: 68vw;
  }
}

@media (min-width:320px) and (max-width:400px){
  .abouthill {
    position: absolute;
    margin-top: -40px;
  }
  .aboutbgp{
    width: 72%;
    float: left;
    margin: 50px 0px 0px -93vw;
  }
  .abouta{
    float: right;
    margin-top: 15px;
    margin-right: 180px;
  }
  .aboutp{
    font-size: 17px;
    color: #00264d;
  }
  .aboutpic{
    margin-top: 730px;
    width: 100%;
    height: 99.8vw;
    margin-bottom: 100px;
  }
  .aboutav{
    position: absolute;
    right: 15vw;
    margin-top: -570px;
  }
  @media (min-width:320px) and (max-width:356px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -500px;
    }
  }
  @media (min-width:320px) and (max-width:332px){
    .aboutav{
      position: absolute;
      right: 15vw;
      margin-top: -468px;
    }
  } 
  .aboutbg{
    width: 100%;
    height: 1000px;
    background-image: url("../img/aboutbg.png");
    background-size: 100% 100% ;
  }
  .aboutk1 {
    bottom: 9.5vw;
  }
  .aboutk2{
    bottom: 13vw;
  }
  .aboutk3{
    bottom: 13.2vw;
  }
  .aboutk4{
    bottom: 16.5vw;
    left: 73vw;
  }
  .hilla1{
    position: absolute;
    bottom: 2vw;
    left: 5vw;
  }
  .hilla2{
    position: absolute;
    bottom: 17vw;
    left: 25vw;
  }
  .hilla3{
    position: absolute;
    bottom: 7vw;
    left: 55vw;
  }
  .hilla4{
    position: absolute;
    bottom: 23vw;
    left: 61vw;
  }
} 

/* ============================== */
/* ============================== */



/* @media (max-width: 1500px){
  .ket1{  
    margin-left: 6.5%;
  }
  .ket2{
    margin-left: 12%;
  }
  .ket3{
    margin-left: 11%;
  }
  .ket4{
    margin-left: 13%;
  }
  .ket5{
    margin-left: 13.5%;
  }
  .aaa1{
    margin-left: 15%;
  }
  .aaa2{
    margin-left: 7%;
  }
  .aaa3{
    margin-left: 7%;
  }
  .aaa4{
    margin-left: 6%;
  }
  .aaa5{
    margin-left: 7%;
  }
  .sidenav{
    margin-left: 86.2%;
  }
} */

/* @media (max-width: 1430px){
  .sidenav{
    margin-left: 85.5%;
  }
} */

/* 
@media (max-width: 1380px){

.sidenav{
  margin-left: 85%;
}
.aaa1{
  margin-left: 16%;
}
.aaa2{
  margin-left: 6%;
}
} */


/* @media (max-width: 1340px){

.sidenav{
  margin-left: 84.4%;
}
.ket5{
  margin-left: 15.5%;
}
} */


/* @media (max-width: 1295px){

.sidenav{
  margin-left: 84%;
}
.aaa1{
  margin-left: 17%;
}
.aaa3{
  margin-left: 6%;
}
} */

/* @media (max-width: 1250px){

.sidenav{
  margin-left: 83.5%;
}
} */

/* @media (max-width: 1220px){

.sidenav{
  margin-left: 83%;
}
.aaa4{
    margin-left: 5%;
}
.aaa5{
    margin-left: 6%;
}
} */

/* @media (max-width: 1175px){

.sidenav{
  margin-left: 82.5%;
}
.aaa1{
  margin-left: 18%;
}
.aaa3{
  margin-left: 5%;
}
} */

/* @media (max-width: 1140px){

.sidenav{
  margin-left: 82%;
}
} */

/* @media (max-width: 1110px){

.sidenav{
  margin-left: 81.3%;
}
} */

/* @media (max-width: 1070px){

  .sidenav{
    margin-left: 80.7%;
  }
  .aaa1{
    margin-left: 19%;
  }
  .aaa3{
    margin-left: 4%;
  }
  .aaa4{
    margin-left: 3%;
  }
} */
